$tablet: "min-width: 500px";
$mobile: "max-width: 480px";
$section-padding: 6rem;
$bg-color--primary: #fafafa;
$bg-color--secondary: #F4F4F4;
$color--area-heading: #222;
$color--area-copy: #888;

// Modular Scale Type Ratios
$ms-ratio: $major-second;
$ms-base: 1rem;

// Colors
$highlight: #E74C3C;
$highlight-dark: #C0382B;
// $highlight: #E0695D;
// $highlight-dark: #C44133;
$green: #468847;

$cover: 'cover.jpg';
$marquee-light-color: rgba(255, 255, 255, 0.8);

