footer.Footer
  .Container
    &copy;Sit ubu sit! 2014

yield
script(src='bower_components/jquery/dist/jquery.min.js')
script(src="bower_components/jquery.validation/dist/jquery.validate.min.js")
script(src='scripts/main.js')
script(src='bower_components/jquery.scrollTo/jquery.scrollTo.min.js')
script(src='bower_components/jquery.localScroll/jquery.localScroll.min.js')

