doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Sit ubu sit!
        meta(name="description",
            content="Dog and puppy training courses, designed for new dog owners.")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="/favicon.ico")
        link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300", rel="stylesheet")
        link(rel="stylesheet" href="styles/bundle.css")
    body
        block header


